<body id="LoginForm">
<div class="container">
  <h1 class="form-heading">login Form</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Username"  id="username" name="username"
                formControlName="username" [(ngModel)]="credentials.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password"
                name="password" formControlName="password" [(ngModel)]="credentials.password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>