<nav class="hidden-xs-dows bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a [routerLink]="[{outlets:{contentOutlet:'dashboard'}}]" routerLinkActive="active" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="[{outlets:{contentOutlet:'produit'}}]" routerLinkActive="active" class="nav-link">Produit</a>
      </li>
  </ul>
</nav>