<div class="row">
    <div class="col-lg-2" *ngIf="showHideSideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div [class]="showHideSideBar? 'col-lg-10': 'col-lg-12'">
        <app-navbar
        [showSideBar]="showHideSideBar"
        (showSideBarChange)="onShowSideBarChange($event)"
        ></app-navbar>
        <app-content></app-content>
    </div>
</div>